*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-y: hidden;
}

header{
    /*MENU DE LAS TRES RAYAS*/
    width: 100%;
    height: 4rem;
    position: fixed;
    align-items: flex-end;
    flex-direction: column;
    top: 0;
    display: flex;
    background-color: #3233325c;
    z-index: 1000;
}

nav{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

nav i{
    margin-right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

.submenu{
    color: white;
    height: 14rem;
    width: 14rem;
    padding: 15px;
    position: absolute;
    top: 9%;
    right: 4%;
    border-radius: 6%;
    background-color: #3233325c;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 1000;
}

/*
menu lateral

color: white;
    height: 92%;
    width: 15rem;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: #3233325c;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: all .5s ease;
    z-index: 10000;
*/

.submenu.active{
    opacity: 1;
}

.submenu div{
    height: 100%;
    padding: 10px;
    border: 1px white solid;
    border-radius: 3%
}

.submenu{
    font-family: "Caveat", serif;
}

#background, 
#background img{
    width: 100%;
    height: 100%;
}

#background{
    position: absolute;
    background-color: antiquewhite;
    z-index: -1;
}

main div{
    position: absolute;
    display: flex;
}
.img1{
    top: 37%;
    right: 47%;
}

.img2{
    top: 69%;
    left: 10%;
}

.img3{
    top: 10%;
    right: 10%;
}

.img4{
    top: 69%;
    right: 10%;
}

.img5{
    top: 10%;
    left: 9%;
}

main img{
    height: 9rem;
    user-select: none;
}

main a:hover{
    cursor: pointer;
}

main a:hover + .background__img{
    opacity: 1;
}

.img5 div{
    left: 1rem;
}

.background__img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    left: -0.5rem;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: -1;
}

.img1 .background__img{
    background: #f5f5dcba;
}

.img2 .background__img{
    background: #c6ea7cba;
}

.img3 .background__img{
    background: #f0f8ffc7;
}

.img4 .background__img{
    background: #f7c59bbd;
}

.img5 .background__img{
    background: #fbfbfbc4;
}