*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-y: hidden;
}

header{
    /*MENU DE LAS TRES RAYAS*/
    width: 100%;
    height: 4rem;
    background-color: #3233325c;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav i{
    margin-right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

header .submenu{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: aqua;
}

#background, 
#background img{
    width: 100%;
    height: 100%;
}

#background{
    position: absolute;
    background-color: antiquewhite;
    z-index: -1;
}

main div{
    position: absolute;
    display: flex;
}
.img1{
    top: 37%;
    right: 47%;
}

.img2{
    top: 69%;
    left: 10%;
}

.img3{
    top: 10%;
    right: 10%;
}

.img4{
    top: 69%;
    right: 10%;
}

.img5{
    top: 10%;
    left: 9%;
}

main img{
    height: 9rem;
    user-select: none;
}

main a:hover{
    cursor: pointer;
}

main a:hover + .background__img{
    opacity: 1;
}

.img5 div{
    left: 1rem;
}

.background__img{
    background: beige;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    left: -0.5rem;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: -1;
}

.img1 .background__img{
    background: #f5f5dcba;
}

.img2 .background__img{
    background: #c6ea7cba;
}

.img3 .background__img{
    background: #f0f8ffc7;
}

.img4 .background__img{
    background: #f7c59bbd;
}

.img5 .background__img{
    background: #fbfbfbc4;
}