*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

#background{
    background-image: url(https://i.ytimg.com/vi/imZGxvST5AE/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AGuB4AC0AWKAgwIABABGBcgcigRMA8=&rs=AOn4CLABLOlmwLYVjvPJXBXeeJEmpHOrnw);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container{ 
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 60%;
}

