.img1{
    right: 54%;
    bottom: 6%;
}
.img1 img{
    height: 45rem;
}

.img2{
    right: 31%;
    bottom:45%;
}
.img2 img{
    height: 16rem;
}

.info {
    height: 21rem;
    width: 43rem;
    top: 61%;
    right: 5%;
    visibility: visible;
    opacity: 1;
}

.sign1 {
    height: 6%;
    width: 10rem;
    top: 66%;
    right: 83%;
    visibility: visible;
    opacity: 1;
}

.sign2 {
    height: 5rem;
    width: 11rem;
    top: 28%;
    right: 42%;
}

.info p {
    text-align: justify;
}

.sign1 p {
    text-align: center;
}