.sign1{
    height: 7rem;
    width: 11rem;
    top: 30%;
    right: 69%;
}

.sign2{
    height: 5rem;
    top: 44%;
    right: 62%;
    opacity: 0;
    visibility: hidden;
}

.img1{
    bottom: 2%;
    right: 1%;
    display: none;
    animation: rotate 1s linear;
}

.img1 img{
    height: 36.5rem;
}

@-webkit-keyframes rotate{

}