.img1{
    right: 67%;
    bottom: 46%;
}
.img1 img{
    height: 23rem;
}

.img2{
    bottom: 16%;
    right: 8%;
}
.img2 img{
    height: 31rem;
}

.sign.sign1{
    left: 10%;
    top: 63%;
    width: 16rem;
    height: 11rem;
}

.sign.sign2{
    top: 21%;
    height: 8rem;
    width: 11rem;
}