.sign1{
    height: 7rem;
    width: 11rem;
    top: 30%;
    right: 69%;
}

.sign2{
    height: 5rem;
    top: 44%;
    right: 62%;
    opacity: 0;
    visibility: hidden;
}

.img1{
    bottom: 2%;
    right: 1%;
    display: none;
}

.img1 img{
    height: 36.5rem;
    animation: rotate 1s ease-in-out forwards;
}

@-webkit-keyframes rotate{
    0%{
        transform: rotate(0%);
        height: 36.5rem;
    }
    100%{
        transform: rotate(156deg);
        height: 34rem;
    }
}

.info{
    z-index: 10000;
    height: 20rem;
    width: 60rem;
    top: 30%;
    right: 20%;
    font-size: 1.8rem;
}