.img1{
    bottom: 16%;
    left: 10%;
    transform: scaleX(-1);
}

.sign {
    width: 17rem;
    height: 8rem;
    top: 41%;
    left: 21%;
}

.info {
    width: 40rem;
    height: 29rem;
    left: 63rem;
    top: 14%;

    visibility: hidden;
    opacity: 0;
}
