 .img1{
    bottom: 4%;
    left: 18%;
}

.img1 img{
    height: 16rem;
}

.sign{
    height: 8rem;
    width: 15rem;
    top: 53%;
    right: 57%;
}

.info {
    height: 19rem;
    width: 29rem;
    top: 36%;
    right: 1%;
}