.img1{
    bottom: 20%;
    left: 46%;
}

.img1 img{
    height: 21rem;
}

.sign.sign1{
    width: 17rem;
    top: 21%;
    right: 59%;
}

.sign.sign2{
    width: 16rem;
    height: 8rem;
    right: 14%;
}

.info{
    width: 31rem;
    height: 11rem;
    top: 70%;
    left: 5%;
    visibility: hidden;
    opacity: 0;
}