.img1{
    bottom: 1%;
    right: 13%;
}
.img1 img{
    height: 26rem;
}

.img2 {
    bottom: 32%;
    right: 9%;
    animation: jump 1s linear forwards;
    z-index: 100;
}

.img2 img{
    height: 8rem;
}

@-webkit-keyframes jump{
    0% {
        bottom: 32%;
        right: 9%;
    }
    20% {
        bottom: 38%;
        right: 15%;
    }
    40% {
        bottom: 42%;
        right: 22%;
    }
    60% {
        bottom: 42%;
        right: 34%;
    }
    80% {
        bottom: 30%;
        right: 40%;
    }
    100% {
        bottom: 8%;
        right: 44%;
    }
}

.sign{
    top: 45%;
    right: 27%;
}

.sign2{
    top: 45%;
    right: 46%;
    width: 12rem;
    height: 6rem;
    visibility: hidden;
    opacity: 0;
}