.img1{
    bottom: 19%;
    right: 33%;
}
.img1 img{
    transform: rotate(-24deg);
    height: 24rem;
}

.sign{
    height: 6rem;
    width: 10rem;
    top: 50%;
    right: 20%;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.sign div{
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    text-align: center;
    justify-content: center;
}

#video{
    display: none;
}