.img1{
    bottom: 1%;
    right: 13%;
}
.img1 img{
    height: 26rem;
}

.img2 {
    bottom: 32%;
    right: 9%;
    animation: jump 1s ease-in-out forwards;
}

.img2 img{
    height: 8rem;
}

@-webkit-keyframes jump{

    0%{
        bottom: 32%;
        right: 9%;
    }
    100%{
        bottom: 8%;
        right: 44%;
    }
}

.sign{
    top: 45%;
    right: 27%;
}
