<header>
  <nav>
    <a href="../"><i class='bx bx-chevron-left'></i></a>
    <i class='bx bx-menu'></i>
  </nav>
</header>
<div class="submenu">
  <div>
    <div>
      <p>Nancy Bañuelos Zendrero</p>
      <p>24110289</p>
      <a href="https://www.instagram.com/ban_nancy/" target="_BLANK"><img src="imgs_index/instagramIcon.png"></a>
    </div>
    <hr>
    <div>
      <p>Luis Francisco Garcia Aguilar</p>
      <p>24110117</p>
      <a href="https://www.instagram.com/barb0112/" target="_BLANK"><img src="imgs_index/instagramIcon.png"></a>
    </div>
    <hr>
    <div>
      <p>Daniel Alejandro Hernández Cervantes</p>
      <p>24110116</p>
      <a href="https://www.instagram.com/soydaaanny/" target="_BLANK"><img src="imgs_index/instagramIcon.png"></a>
    </div>
  </div>
</div>