nav i:first-child{
    color: #ffe8e8;
}

.img1{
    bottom: 13%;
    left: 42%;
}

.img2{
    top: 76%;
    right: 40%;
}

.img1 img{
    height: 27rem;
}

.img2 img{
    height: 5rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.sea{
    visibility: visible;
    opacity: 1;
    top: 28%;
    left: 9%;
}

.sea > div{
    grid-auto-rows: 63% 1fr;
}

.trash{
    height: 6rem;
    top: 59%;
    left: 53%;
    cursor: pointer;
}

.trash > div{
    grid-auto-rows: 0;
    align-items: center;
    justify-content: center;
}