main div{
    position: absolute;
}

.img1{
    top: 46%;
    left: 9%;
}

.img1 img{
    height: 17rem;
}

.img2{
    top: 56%;
    left: 45%;
}

.img2 img{
    height: 13rem;
}

.img3{
    top: 54%;
    right: 8%;
}

main img{
    height: 13rem;
    user-select: none;
    cursor: pointer;
}

.img2:hover img{
    animation: shake 1s linear infinite;
}

@-webkit-keyframes shake{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(20deg);
    }

    100%{
        transform: rotate(0deg);
    }
}
/*
translateY(-5px) rotate(-20deg)}
  45%, 50% { transform: scale(1.2) translateY(-5px) rotate(20deg)}
*/