main div{
    position: absolute;
}

.img1{
    top: 46%;
    left: 9%;
}

.img2{
    top: 56%;
    left: 45%;
}

.img3{
    top: 54%;
    right: 8%;
}

.img4{
    top: 78%;
    right: 6%;
}

main img{
    height: 13rem;
    user-select: none;
}

.img1 img{
    height: 17rem;
}


.img2 img{
    height: 13rem;
    cursor: pointer;
}

.img2 img:hover{
    animation: shake 0.5s linear infinite;
}

.img4 span{
    font-size: 9rem;
    transform: rotateX(45deg);
    cursor: default;
}


@-webkit-keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(5deg);
    }
    60%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}
