.img{
    bottom: 18%;
}

.img1{
    left: 9%;
}

.img2{
    bottom: 16%;
    left: 45%;
}

.img2{
    
}


#giftTrash{
    bottom: 20%;
    right: 35%;
}
.gift{
    animation: throw 4.7s linear;
}

.gift img{
    height: 23rem;
}

@-webkit-keyframes throw{
    0%{
        right: 25%;
    }

    100%{
        right: 8%;
    }
}

.img3{
    right: 8%;
}

.img4{
    bottom: 2%;
    right: 6%;
}

.img1 img{
    height: 17rem;
}

.img2 img{
    height: 13rem;
    cursor: pointer;
}

.img2 img:hover{
    animation: shake 0.5s linear infinite;
}

.img4 span{
    font-size: 9rem;
    transform: rotateX(45deg);
    cursor: pointer;
}

@-webkit-keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(5deg);
    }
    60%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

