.img1{
    bottom: 10%;
    right: 10%;
}

.img2{
    bottom: 3%;
    left: 33%;
}

.img3{
    bottom: 41%;
    left: 40%;
    height: 8rem;
    z-index: -1;
}

.img1 img{
    height: 28rem;
}

.img2 img{
    height: 17rem;
}

.img3 a{
    font-size: 9rem;
    display: flex;
    transform: rotate(-40deg) rotateY(43deg) rotateX(43deg);
}

.img3 a span{
    font-size: 10rem;
}